{% extends 'templates/navBar.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4">
                    <h1 class="text-center text-orange">Créer un nouvelle article</h1>
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        <div class="form-group">
                            {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.Image, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.newIngredient, {'attr': {'class': 'form-control', 'id': 'ingredient-input'}}) }}
                            <button type="button" class="btn btn-orange mt-2" onclick="addIngredient()">Ajouter l'ingrédient</button>
                        </div>

                        <ul id="ingredient-list" class="mt-3"></ul>
                        {{ form_row(form.ingredientList) }}

                        <button type="submit" class="btn btn-orange">Créer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        const ingredientListElement = document.getElementById('ingredient-list');
        const ingredientListInput = document.getElementById('{{ form.ingredientList.vars.id }}');

        function addIngredient() {
            const newIngredientInput = document.getElementById('{{ form.newIngredient.vars.id }}');
            const newIngredient = newIngredientInput.value.trim();

            if (newIngredient) {
                // Ajoute un ingrédient a la liste
                const listItem = document.createElement('li');
                listItem.textContent = newIngredient;
                ingredientListElement.appendChild(listItem);

                // Met a jour le paramètre 'HIDDEN' pour mettre a jour la liste
                const ingredients = Array.from(ingredientListElement.children).map(item => item.textContent);
                ingredientListInput.value = JSON.stringify(ingredients);

                // vide la zone de text
                newIngredientInput.value = '';
            }
        }
    </script>
{% endblock %}
